@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary-blue: #67b5dc;
  --color-primary-blue-hover: #5ba7ce;
  --color-accent-green: #0fc99f;
  --color-accent-green-hover: #0ab28d;

  --color-background: #f3f4f6;
  --color-background-card: #ffffff;
  --color-background-disabled: #f1f5f9;
  --color-background-secondary: #111b35;

  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;
  --color-text-disabled: #9ca3af;

  --color-border: #e5e7eb;
  --color-border-disabled: #d1d5db;

  --color-status-info: #3b82f6;
  --color-status-success: #0fc99f;
  --color-status-warning: #f59e0b;
  --color-status-error: #ef4444;

  --color-highlight: #e0f2fe;

  /* Gradients */
  --background-image-sare-gradient: linear-gradient(
    to bottom right,
    var(--color-primary-blue) 60%,
    var(--color-accent-green) 100%
  );
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.timebox {
  @apply bg-background-disabled text-text-primary rounded-[8px] h-[60px] w-[63px] text-[36px] flex items-center justify-center;
}

.path {
  clip-path: path(
    "M 140,40 L 80,40 A 10,10 0,0,1 70,30 L 70,10 A 10,10 0,0,0 60,0 L 10,0 A 10,10 0,0,0 0,10 L 0,190 A 10,10 0,0,0 10,200 L 140,200 A 10,10 0,0,0 150,190 L 150,50 A 10,10 0,0,0 140,40  Z"
  );
}

/* .path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

.path {
  clip-path: path(
    "M 90% 20% L 50% 20% A 5% 5%,0,0,1 45% 15% L 45% 5% A 5% 5%,0,0,0 40% 0 L 5% 0 A 5% 5%,0,0,0 0 5% L 0 95% A 5% 5%,0,0,0 5% 100% L 90% 100% A 5% 5%,0,0,0 95% 95% L 95% 25% A 5% 5%,0,0,0 90% 20% Z"
  );
}



.pathtwo {
  position: relative;
}

.pathtwo::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
    clip-path: path(
    "M 140,40 L 80,40 A 10,10 0,0,1 70,30 L 70,10 A 10,10 0,0,0 60,0 L 10,0 A 10,10 0,0,0 0,10 L 0,190 A 10,10 0,0,0 10,200 L 140,200 A 10,10 0,0,0 150,190 L 150,50 A 10,10 0,0,0 140,40  Z"
  );
  border-radius: 1rem; /* if you want rounded edges */
}

/* Hide scrollbar but still allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
